body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "  sub                 sub               sub "
                            "contenedor-ingles contenedor-aleman contenedor-progreso "
                            "contenedor-ingles contenedor-chino contenedor-progreso";
    align-items: stretch;
    width: 100%;
    gap: 1.5rem;

}

.sub {
    grid-area: sub ;
}

.contenedor-ingles {
    grid-area: contenedor-ingles;
}

.contenedor-aleman {
    grid-area: contenedor-aleman;
}

.contenedor-chino{
    grid-area: contenedor-chino;
}

.contenedor-progreso {
    grid-area: contenedor-progreso;
}
