body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "titulo-curso"
        "unidad"
        "unidad"
        "unidad";
    gap: 1.5rem;
    width: 100%;
    align-items: stretch;
}

.titulo-curso {
    grid-area: titulo-curso;
}

.unidad {
    grid-area: auto;
}

.lista-lecciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}