body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 2fr;
    gap: 1rem;
}
